METADATA_DATABASE:
  USERNAME:
  PASSWORD:
  HOST:
  PORT:
  DATABASE_NAME: etl_pipeline_metadata

REPORTING_DATABASE:
  USERNAME:
  PASSWORD:
  HOST:
  PORT:
  DATABASE_NAME: raw_data

S3:
  BUCKET: credit-risk-data
  AWS_ACCESS_KEY: AKIAI3EUG2GSVS7VJWIQ
  AWS_SECRET_KEY: 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

ETL:
  JOB_SIZE_IN_BYTES: 10485760 # 10 MB
